<configuration>
    <springProperty scope="context" name="logFile" source="logging.file.name" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <file>${logFile}</file>
        <append>true</append>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <springProfile name="devel">
        <logger name="ppj" level="DEBUG" />
    </springProfile>

    <springProfile name="prod">
        <logger name="ppj" level="INFO" />
    </springProfile>

</configuration>